<%= form_tag search_employers_path, method: "GET" do %>

<% types = ["Product Manager","Entrepreneur","Digital Marketer", "Founder/Co-Founder", "UX Designer", "Product Designer", "Full-Stack Developer", "Back-end Developer", "Front-end Developer"] %>
   <% types.each do |input| %>
      <%= check_box_tag input %>
      <%= label_tag(input, input) %>
   <% end %> 
   
<button>Submit</button>

<% end %>