<h1>Stripper.io.ly</h1>
Denomination:<input type="text" id="cash-selecta">
<h3>Racks Spent:</h3>
<p>$<span>0</span></p>
<img src="http://cdn.cnwimg.com/wp-content/uploads/2013/04/tila-tequila-stripper-money-thesuitewolrd-1024x681.jpg" alt="" id="stripper">