<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stripper.io.ly</title>
  <link rel="stylesheet" href="stripper.css">
</head>
<body>
  <%= yield %>
  <audio src="/rack_city.mp3"></audio>
  <script type="text/javascript" src="stripper.js"></script>
</body>
</html>