img#stripper {
  width: 500px;
  z-index: 0; 
}

@-webkit-keyframes test
{
from {top: 75px;}
to {top: 380px;}
}

div.dollas {
  border: 1px solid white;
  border-radius: 1.5px;
  display: inline;
  z-index: 2;
  position: fixed;
  left: 280px;
  background-color: rgb(164,200,153);
  color: #fff;
  width: 40px;
  height: 20px;
  text-align: center; 
  -webkit-animation: test 3s;
}

h3 {
  color: green;
  margin-top: 0px;
}

p {
  margin-top: 0px;
}