  <div id="welcome-background">

    <h2>WELCOME!</h2>

    <p> The GA Job Board seeks to extend and culivate the GA community, creating a platform for students, alumni, and employers.</p> 
    <p> As a student, you can browse job opportunities, connect with current and previous WDI and UX students, and post information about your credentials and interests.</p>
    <p>As an employer, you can post listing about employment opportunities and apprenticeship programs, browse talented students, and list potential projects for WDI cohorts.</p>

    
    <p>Happy browsing!</p> 
  </div> 


