function setSkillTagList() {
  $("#post_skill_tag_list").attr("value", skills.join(", "));

  console.log( $("#post_skill_tag_list").attr("value") );
}

function addDeleteEvent(button) {
  button.click(function() {
    var tag = $(this).parent();

    var tagString = $(this).next().html();
    var index = skills.indexOf( tagString );
    skills.splice( index, 1 );
    console.log("REMOVING: " + tagString);

    tag.remove();
    setSkillTagList();
  });
}

function renderTag(skill_tag) {
  var tagList = $(".skills_list");
  var tag = $("<div>");
  var p = $("<p class='skill-word'>" + skill_tag + "</p>");
  p.appendTo(tag);
  tag.addClass("tag");
  // tag.attr("id", skill_tag);

  var deleteButton = $("<button>X</button>");
  deleteButton.addClass("delete-tag-button")
  addDeleteEvent(deleteButton);
  deleteButton.prependTo(tag);

  tag.appendTo(tagList);
}

function addTag(input) {
  if ( !_.contains(skills, input.val().toLowerCase()) && input.val() != "" ) {
    skills.push(input.val().toLowerCase());
    renderTag(input.val());
  }

  if ( skills.length > 0 && skills.length < 5 ) {
    $("#submit-post").css("bottom", "-55px");
  } else if ( skills.length > 4 ) {
    $("#submit-post").css("bottom", "-10px");
  }
}

var skills = [];

$(function() {
  console.log("<%= true ? 'TAGS' : false %>");

  $(".tag-form").submit(function(e) {
    e.preventDefault();

    var input = $("#skill_input");

    if ( skills.length != 8 ) {
      addTag(input);
    }

    setSkillTagList();

    input.val("");
  });

})